<div class="row">
	<div>
	<div class="col-md-9">
<div class="row sub-header">
        <span class="snomed-ct-heading"> <h2>Reference Set Details</h2></span>
          <span class="status-heading"> <h2>Language &amp; Status</h2></span>
        <span class="origin-heading"> <h2>Heading</h2></span>
     <span class="plus-heading"> 	<button class="metadata-toggle" {{bind-attr class='showHeaderMetaData:hideinfo:info'}} {{action 'toggleMetaData'}}><span class="btn-text">{{#if showMetaData}}-{{else}}+{{/if}} </span><span {{bind-attr class='showHeaderMetaData:hideinfo:info'}}></span></button></span>
        </div>
	
<div class="row title-headings">

                <span class="pointer refset-id items first"><a {{action 'setSortCriteria' 'sctId'}} class="pointer">Refset Id</a> {{sort-icon sortBy sortOrder 'sctId'}}</span> 
                                                                                                      
				<span class="pointer desc-id items"><a {{action 'setSortCriteria' 'description'}} class="pointer  ">Description</a> {{sort-icon sortBy sortOrder 'description'}}</span>
				

				<span class="pointer lang-id items"><a {{action 'setSortCriteria' 'languageCode'}} class="pointer ">Language</a> {{sort-icon sortBy sortOrder 'languageCode'}}</span>
        <span class="status-id items pointer" rel="tooltip" title="A Refset can have status: Published, Unpublished or Inactive"><a {{action 'setSortCriteria' 'meta.status'}} class="pointer">Status</a> {{sort-icon sortBy sortOrder 'meta.status'}}</span>
				<span class="refset-id items pointer"><a {{action 'setSortCriteria' 'typeId'}} class="pointer">Refset Type Id</a> {{sort-icon sortBy sortOrder 'typeId'}}</span>
				<span class="module-id items pointer"><a {{action 'setSortCriteria' 'moduleId'}} class="pointer">Module Id</a> {{sort-icon sortBy sortOrder 'moduleId'}}</span>
			
				
				<span class="num-members items pointer"><a {{action 'setSortCriteria' 'totalNoOfMembers'}} class="pointer">Member Count</a> {{sort-icon sortBy sortOrder 'totalNoOfMembers'}}</span>
			
			</div>
			{{#if showMetaData}}
			<div class="meta-wrap row metarow-heading">
                	<span class="comp-id items pointer"><a {{action 'setSortCriteria' 'componentTypeId'}} class="pointer">Component Type Id</a> {{sort-icon sortBy sortOrder 'componentTypeId'}}</span>
				<span class="effective-time items pointer" rel="tooltip" title="Latest member effective time"><a {{action 'setSortCriteria' 'latestEffectiveTime'}} class="pointer">Latest Effective Time</a> {{sort-icon sortBy sortOrder 'latestEffectiveTime'}}</span>
				<span class="last-modified items pointer" rel="tooltip" title="Last date refset header or any member was modified"><a {{action 'setSortCriteria' 'modifiedDate'}} class="pointer">Last update date</a> {{sort-icon sortBy sortOrder 'modifiedDate'}}</span>
				<span class="last-modified-by pointer items" rel="tooltip" title="User that last modified this refset"><a {{action 'setSortCriteria' 'modifiedBy'}} class="pointer">Last updated by</a> {{sort-icon sortBy sortOrder 'modifiedBy'}}</span>
	</div>
		
				{{#if refsets}}
        
					{{#if filteredRefsets}}
   
						 {{#collection Ember.ListView contentBinding="filteredRefsets" height=600 rowHeight=90 width="100%"}}
					
       <div {{bind-attr class=':list-group-item :member-list-item meta.disabled:inactiveConcept'}}>   
								<span class="refset-id items">{{sctId}}</span>{{#if sctId}}{{/if}} 
           {{#link-to 'refsets.refset' uuid}}<span class="description pointer desc-id items blue-link" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span>{{/link-to}}
				
							
									<span class="lang-id items pointer" rel="tooltip" {{bind-attr title='meta.language'}}>{{languageCode}}</span>
           <span class="status-id items">{{meta.status}}</span>
									<span class="refset-id items pointer" rel="tooltip" {{bind-attr title='meta.type'}}>{{typeId}}</span>
									<span class="module-id items pointer" rel="tooltip" {{bind-attr title='meta.moduleType'}}>{{moduleId}}</span>
									
									
									<span class="num-members items">{{totalNoOfMembers}}</span>
							
									<div class="meta-wrap row metarow-row">
							<span class="comp-id items pointer" rel="tooltip" {{bind-attr title='meta.componentType'}}>{{componentTypeId}}</span>
									<span class="effective-time items">{{effective-time-format latestEffectiveTime}}</span>
									<span class="last-modified items">{{date-format modifiedDate}}</span>
									<span class="last-modified-by items">{{modifiedBy}}</span>
                                        </div>
								</div>
								
						  {{/collection}}
					  {{else}}
					  		No Refset match your search filters
					  {{/if}}
				{{else}}
					<p>There are currently no matching refsets available.</p>
				{{/if}}
			
			{{else}}
				{{#if refsets}}
					{{#if filteredRefsets}}
						 {{#collection Ember.ListView contentBinding="filteredRefsets" height=600 rowHeight=50 width="100%"}}
							<div {{bind-attr class=':list-group-item :member-list-item meta.disabled:inactiveConcept'}}>
								
								<div class=""><span class="refset-id items">{{sctId}}</span>{{#if sctId}}{{/if}} 
                                   {{#link-to 'refsets.refset' uuid}} <span class="description pointer desc-id items blue-link" rel="tooltip" {{bind-attr title="description"}}>{{description}}</span>{{/link-to}}
				
							
									<span class="pointer lang-id items" rel="tooltip" {{bind-attr title='meta.language'}}>{{languageCode}}</span>
                                    <span class="status-id items">{{meta.status}}</span>
									<span class="refset-id items pointer" rel="tooltip" {{bind-attr title='meta.type'}}>{{typeId}}</span>
									<span class="module-id items pointer" rel="tooltip" {{bind-attr title='meta.moduleType'}}>{{moduleId}}</span>
									
									
									<span class="num-members items">{{totalNoOfMembers}}</span>
								</div>
							</div>
						  {{/collection}}
					  {{else}}
					  		No Refset match your search filters
					  {{/if}}
				{{else}}
					<p>There are currently no matching refsets available.</p>
				{{/if}}			
			{{/if}}
	
	
	</div>
	
	<div class="col-md-3">
		<button class="btn btn-default btn-side-menu metadata-btn" {{bind-attr class=':pointer showHeaderMetaData:hideinfo:info'}} {{action 'toggleMetaData'}}><span class="btn-text">{{#if showMetaData}}Hide{{else}}Show{{/if}} Metadata</span><span {{bind-attr class=':pointer showHeaderMetaData:hideinfo:info'}}></span></button>

		<h2>Filter Refsets</h2>
		
		<select id="filterSelect" class="btn btn-default btn-side-menu" {{action 'addFilter' on="change"}}>
			<option value="0">Filter refsets...</option>
			{{#unless filterByStatusIsActive}}<option value="filterByStatus">Refset status (active/inactive)</option>{{/unless}}
			{{#unless filterByTypeIsActive}}<option value="filterByType">Refset type</option>{{/unless}}
			{{#unless filterByModuleIdIsActive}}<option value="filterByModuleId">Module type</option>{{/unless}}
			{{#unless filterByComponentTypeIsActive}}<option value="filterByComponentType">Component type</option>{{/unless}}
			{{#unless filterByLanguageIsActive}}<option value="filterByLanguage">Language</option>{{/unless}}
			{{#unless filterByEffectiveTimeIsActive}}<option value="filterByEffectiveTime">Effective time</option>{{/unless}}			
			{{#unless filterByLastUpdateDateIsActive}}<option value="filterByLastUpdateDate">Last update date</option>{{/unless}}
			{{#unless filterByLastUpdateUserIsActive}}<option value="filterByLastUpdateUser">Last updater</option>{{/unless}}
		</select>
		
		<div class="filterItem sctid">
                                     <div class="left-filter">
			<p class="filterItem">Filter by Refset description or SCTID:  </p></div><div class="right-filter"><a {{action 'clearDescriptionFilter'}} class="right pointer"><img src="assets/img/trashbin.png" width="35" height="43" alt=""/></a></div>
<div class="filterinputs clearfix"> {{input type="text" value=filterByDescription placeholder="type filter here..." class="form-control"}} </div>
		</div>
<div class="filterItem component-id">
      
		<div class="left-filter">
        <p class="filterItem">
			Filter by Member description or Referenced Component Id:</p> </div><div class="right-filter"><a {{action 'clearMemberDescriptionFilter'}} class="right pointer"><img src="assets/img/trashbin.png" width="35" height="43" alt=""/></a></div>
		<div class="filterinputs clearfix">	{{input type="text" value=filterByMemberDescription placeholder="type filter here..." class="form-control"}} </div>
		
                                                                                                                      </div>
			
		{{#if filterByStatusIsActive}}
			<div class="filterItem status">
		<div class="left-filter">                                                                         <p class="filterItem">
				Status:	</p></div>			<div class="right-filter"><a {{action 'removeFilter' 'filterByStatus'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div>
    <div class="filterinputs statusinputs clearfix">
				{{radio-button value="published" checked=filterByStatus}} Published
				{{radio-button value="unpublished" checked=filterByStatus}} Unpublished
				{{radio-button value="inactive" checked=filterByStatus}} Inactive
			</div>
		{{/if}}
				
		{{#if filterByTypeIsActive}}
           <div class="filterItem status">                                    
			<div class="left-filter"><p class="filterItem">
				Refset Type:</p></div>		
              <div class="right-filter"><a {{action 'removeFilter' 'filterByType'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div> 
			<div class="filterdropdown">
                 {{snomed-data-dropdown value=filterByType dataType="refsetTypesArray"}}
			</div>
             </div>                                                                        
		{{/if}}

		{{#if filterByModuleIdIsActive}}
            <div class="filterItem status">                                                                         
			<div class="left-filter"><p class="filterItem">
				Module Type:</p></div>
                 <div class="right-filter"><a {{action 'removeFilter' 'filterByModuleId'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a>   </div> <div class="filterdropdown">
				{{snomed-data-dropdown value=filterByModuleId dataType="moduleTypesArray"}}
			
              </div> </div>                                                                             
		{{/if}}

		{{#if filterByComponentTypeIsActive}}
            <div class="filterItem status">                                                                             
			<div class="left-filter"><p class="filterItem">Component Type:</p></div>
              <div class="right-filter"><a {{action 'removeFilter' 'filterByComponentType'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div><div class="filterdropdown">
				{{snomed-data-dropdown value=filterByComponentType dataType="componentTypesArray"}}
			   </div></div>
		{{/if}}

		{{#if filterByLanguageIsActive}}
            <div class="filterItem status">                                                                                     
			<div class="left-filter"><p class="filterItem">Language:</p></div>		
                <div class="right-filter"><a {{action 'removeFilter' 'filterByLanguage'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div> 
				<div class="filterdropdown"> {{snomed-data-dropdown value=filterByLanguage dataType="languagesArray"}}
			   </div>
            </div>                                                                           
		{{/if}}

		{{#if filterByEffectiveTimeIsActive}}
            <div class="filterItem status">                                                                           
			<div class="left-filter"><p class="filterItem">Effective Time:</p> </div>
            <div class="right-filter"><a {{action 'removeFilter' 'filterByEffectiveTime'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div><div class="filterdropdown">
				{{snomed-data-dropdown value=filterByEffectiveTime dataType="refsetEffectiveTimesArray"}}
			   </div>
           </div>                                                                                            
		{{/if}}
				
		{{#if filterByLastUpdateDateIsActive}}
			<div class="filterItem status"> 
                <div class="left-filter">  <p class="filterItem">              
				Modified since:</p></div> 
                <div class="right-filter"> <a {{action 'removeFilter' 'filterByLastUpdateDate'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div>
				{{view Em.TextField 
					placeholder="Pick date..."
				    valueBinding="filterByLastUpdateDate"
					data-provide="datepicker"
					data-date-format="MM d, yyyy"
					data-date-clear-btn="true"
					data-date-autoclose="true"
					class="form-control"}}	
			
               </div>                          
		{{/if}}

		{{#if filterByLastUpdateUserIsActive}}
         	<div class="filterItem status"> 
			<div class="left-filter">  <p class="filterItem">
				Last Updater:  </p> </div> <div class="right-filter"><a {{action 'removeFilter' 'filterByLastUpdateUser'}} class="right pointer"><img src="assets/img/closetab.png" width="40" height="40" alt=""/></a></div>
                                                                                                                                                <div class="filterdropdown">
				{{snomed-data-dropdown value=filterByLastUpdateUser dataType="refsetUpdatersArray"}}
			 </div> 
             </div>   
		{{/if}}
					
		<button {{action 'refresh'}} class="btn btn-default btn-side-menu right refresh-btn">Refresh Refsets</button>
	</div>
</div>