

<div class="row new-refset">

	<div class="col-md-9 new-refset">

		<div class="panel panel-info ember-view fade in">
		    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#refsetHeader">
		         <h4 class="panel-title">Create New Reference Set - Reference Set Header</h4>
		    </div>
             <div class="panel-collapse collapse in">
		        <div id="refsetHeader" class="panel-body">

					
					<form id="refset-header" class="refset-header">
            <div class="row">
            <div class="col-md-4 first-column">
                
                {{#if isRF2Import}}
                <div class="row">
					<div class="col-md-4">	<span class="label"><label>Are you importing a published Reference Set?</label> </span></div>
                  <div class="col-md-8">  {{radio-button value=true checked=published}} Yes {{radio-button value=false checked=published}} No </div>
                    </div>
					{{/if}}
<div class="row">
                			{{#if isRF2Import}}	
     <div class="row">
									 <div class="col-md-4"><span class="label pointer">Refset Description</span></div>
									
									 <div class="col-md-8">	{{rf2FileToImport.label}} </div>
						  		
         </div>
								{{else}}
									<div class="row">
										<div class="col-md-3"> <span class="control-label pointer label" rel="tooltip" title="Reference Set description should conform to the editorial rules for Fully Specified Name, including valid semantic (hierarchy) tags.">Reference Set Description</span></div>
										<div class="col-md-9"> {{textarea value=description class="form-control" required=true data-parsley-required-message="Refset Description is required" data-parsely-descriptioninuse="x" data-parsely-descriptioninuse-message="Description has to be unique. The description you have provided is already in use."}}</div>
									</div>
								{{/if}}
           <div class="row">
                         	{{#if isRF2Import}}									
									<div class="col-md-4"><span class="label">SCTID</span></div>
									 <div class="col-md-8">	
										{{rf2FileToImport.sctId}}
									</div>
								{{/if}}
                         </div>
                </div>
                </div>
                 <div class="col-md-4 second-column">
                     <div class="row">
                         <div class="col-md-3">
                	<span class="label">Language</span></div>
							  <div class="col-md-9">
									{{snomed-data-dropdown valueBinding="languageCode" dataType="languagesArray" class="form-control"}}
                </div></div>
                      <div class="Row"> <div class="col-md-3">
                		<span class="label">Module</span></div>
                               
									 <div class="col-md-9">{{snomed-data-dropdown valueBinding="moduleId" dataType="moduleTypesArray" id="newRefsetModuleId" class="form-control"}}
					  							
                </div></div></div>
                 <div class="col-md-4 third-column">
           <div class="row">
             <div class="col-md-3">  <span class="label">Refset Members Type</span></div>
						
								 <div class="col-md-9">	{{snomed-data-dropdown valueBinding="componentTypeId" dataType="componentTypesArray"}} </div>
            </div>
                <div class="row">
                    <div class="col-md-3"> <span class="label">Refset Type</span></div>
								
								 <div class="col-md-9">	{{snomed-data-dropdown valueBinding="typeId" dataType="refsetTypesArray" class="form-control"}}
                    </div></div>
                <div class="row">
                     <div class="col-md-3"> <span class="pointer label" rel="tooltip" title="Planned publish member effective time">Planned Published Date</span></div>
								  <div class="col-md-9">
									{{view Em.TextField 
										placeholder="enter date..."
									    valueBinding="meta.expectedReleaseDateInput"
										data-provide="datepicker"
										data-date-format="yyyymmdd"
										data-date-clear-btn="true"
										data-date-autoclose="true"
										class="form-control"
										required="true"
										data-parsley-required-message="Planned Publish Date is required"}}								
								
                    </div></div>
              
                
                </div></div>
		   

					
					</form>
				</div>
			</div>
		</div>

		{{#if isRF2Import}}

		    <div class="panel panel-info ember-view fade in">
		        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#importRF2File">
		             <h4 class="panel-title">Import RF2 File</h4>
		        </div>
		        <div class="panel-collapse collapse in">
		            <div id="importRF2File" class="panel-body member-list">
		            	
						{{#if potentialMembersToImport}}

			            	{{#if moreThanOneRefsetInRF2}}

								Your RF2 file contains more than one Refset. Please choose which refset you wish to import:

								<p>
								{{#each mbr in potentialMembersToImport}}
									<label class="notALabel">{{radio-button value=mbr name='refsetId' checked=rf2FileToImport}} {{mbr.sctId}} | {{mbr.label}} | {{mbr.concepts.length}} members</label><br>
								{{/each}}
								</p>

							{{else}}

								Your RF2 file contains a single Refset:

								<p>
								{{#each member in potentialMembersToImport}}					
									{{member.sctId}} | {{member.label}} | {{member.concepts.length}} members<br>
								{{/each}}
								</p>

							{{/if}}
						{{else}}
							There are no published refsets in that file...
						{{/if}}
					</div>
				</div>
			</div>	

		{{else}}
		
			{{#unless importError}}
				{{#if potentialMembersToImport}}
				    <div class="panel panel-info ember-view fade in panelNoPadding">
				        <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#importMemberList">
				             <h4 class="panel-title">Review potential members to import. {{#if filteringActive}}Showing {{filteredImportMembers.length}} of {{potentialMembersToImport.length}} items matching your filter{{else}}({{potentialMembersToImport.length}}){{/if}}</h4>
				        </div>
				        <div class="panel-collapse collapse in">
				            <div id="importMemberList" class="panel-body member-list">
				            	{{#with controller.moduleTypesArray as moduleTypesArray }}
									 {{#collection Ember.ListView contentBinding="filteredImportMembers" height=400 rowHeight=59 width="100%"}}
										<div {{bind-attr class=':list-group-item :member-list-item meta.conceptActive::inactiveConcept meta.deleteConcept:deleteConcept'}}>
									        <ul class="edit-refset-members">
												
			
                             
                                    	<li class="tickIcon"><a {{action 'toggleImportMemberActive' referencedComponentId}} {{bind-attr class=':pointer :icon active:tick:cross'}}"></a></li>
                                  <li class="Referenced-Component-Id">{{referencedComponentId}}</li>
                        <li class="Description-Id">{{description}}</li>
										
											<li class="trashIcon"><a {{action 'toggleImportMember' referencedComponentId}} {{bind-attr class=':pointer :icon meta.deleteConcept:undelete:delete'}}"></a></li>
		
															
		
										
		
											<li class="Description-Id"><label><span>{{view Em.Select value=content.moduleId content=moduleTypesArray optionValuePath="content.id" optionLabelPath="content.label" class="form-control"}}</span></label></li>
					
											{{#unless meta.conceptActive}}<li><label class="inactiveMemberText">Note: This component is INACTIVE</label>{{/unless}}</li>
										       </ul>
										</div>
									  {{/collection}}
								  {{/with}}
							</div>
						</div>
					</div>
				{{/if}}
			{{/unless}}
			
		{{/if}}
	</div>
							
						
	<div class="col-md-3 new-refset-sidebar">	
  <div class="edit-heading">Editing</div>
              <div class="editing-refset clearfix">
                  		{{#unless getConceptDataInProgress}}		
		
			<button {{action "clearForm"}} class="btn btn-primary btn-side-menu delete-refset margin-bottom">Clear Form</button>
			<button {{action "initRefsetImport"}} class="btn btn-success btn-side-menu edit-refset">Create Refset</button>
		{{/unless}}
                  </div>
		<!-- This requires vendor/my_utilities/drag_drop_file_upload.js --->
          <div class="edit-heading-icon clearfix"><span class="left"><h3>Import Members </h3></span>	<span class="right"><a {{action 'showImportHelp' }}class="right icon info pointer"></a></span></div>
		
		<div id="fileUploadDropZone" class="fileUploadDropZone"><span id="droptext">Drag an RF2 file, a file of component IDs or an individual component from the Snomed CT browser here.<br><br>Alternatively use the file requestor below to choose a file.</span></div>
        <div class="editing-refset clearfix">
		<div class="upload-btn"><input type="file" id="refsetUploadFileInput" /></div>
		<button {{action "initRefsetImport"}} class="btn btn-success btn-side-menu edit-refset clear-import">Upload and Create Refset</button>
		{{#if potentialMembersToImport}}
			<button {{action 'clearImportList' id}} class="btn btn-default btn-side-menu delete-refset">Clear import list</button>
		{{/if}}
		</div>
		{{#if getConceptDataInProgress}}		
			 <div class="edit-heading">Importing Member File</div>
			{{bs-progress progressBinding="importProgress" type="info" stripped="true"}}
			 <div class="editing-refset clearfix"><p><b>Please wait...</b></p></div>
		{{else}}
			{{#if importError}}
         <div class="edit-heading">Importing Failed</div>
				<h2></h2>
				 <div class="editing-refset clearfix"><p>{{importError}}</p></div>
			{{/if}}
		{{/if}}
		
		{{#unless isRF2Import}}
		{{#if potentialMembersToImport}}
			
		 <div class="edit-heading">Filter concepts</div>
	 <div class="editing-refset clearfix">
		
			<p>NOTE: All listed members will be imported regardless of this filter, which will only limit what you can view, not what wll be imported.
			</p>
         		</div>
         <div class="filterItem component-id">
      
		<div class="left-filter">
        <p class="filterItem">
		Filter by description or referenced component id:</p> </div>
             <div class="right-filter"><a {{action 'clearDescriptionFilter'}} class="right pointer"><img src="assets/img/trashbin.png" width="35" height="43" alt=""/></a></div>
		<div class="filterinputs clearfix">	{{input type="text" value=filterByDescription placeholder="type filter here..." class="form-control"}} </div>
		
           

			<p class="filterItem">
				Show: <br>
				{{radio-button value=-1 checked=filterByInactiveConcepts}} All concepts<br>
				{{radio-button value=false checked=filterByInactiveConcepts}} Inactive Concepts<br>
				{{radio-button value=true checked=filterByInactiveConcepts}} Active Concepts<br>
			</p>
			
		{{/if}}
		{{/unless}}
			</div>		


	</div>
</div>
